* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    background-color: rgba(3, 18, 26, 0.8)
}
.site-wrapper{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1920px;
    min-height: 4600px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    background-color: #0B1D26;
    box-shadow: 28px 28px 80px 0 rgba(11, 29, 38, 0.4);

}
header{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
}
.header-wrapper{
    margin: 0;
    width: 100%;
    height: 95vw;
    max-width: 1920px;
    min-width: 320px;
    max-height: 1900px;
    /* min-height: 317px; */
    background-size: contain;
}
.header-content {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 24px;
    padding: 64px 4.2%;
    /* background-color: #d30909; */
    margin: 0;
}
.BG_Hero {
    position: relative;
    height: 63.16%;
    width: 100%;
    top: -100%;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);

}
.BG_Content {
    position: relative;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
    height: 36.84%;
    width: 100%;
    top: -300%;
}
.img_HG {
    position: relative;
    width: 100%;
    height: 100%;
    top: -21%;
    max-width: 1920px;
    min-width: 320px;
    background-image: url("../img/hg.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: end;
}
.img_MG {
    position: relative;
    width: 100%;
    height: 100%;
    top: -138.74%;
    max-width: 1920px;
    min-width: 320px;
    background: url("../img/mg.png");
    background-repeat: no-repeat;
    background-size: contain;
    left: 0px;
}
.img_VG {
    position: relative;
    width: 100%;
    height: 100%;
    top: -222.74%;
    max-width: 1920px;
    min-width: 320px;
    background: url("../img/vg.png");
    background-repeat: no-repeat;
    background-size: contain;
    left: 0px;   
}
.Logo {
    position: absolute;
    height: 24px;
    width: 108px;
    left: 0px;
    top: 0px;
    color: #FFFFFF;
}
.nav_menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 91.6%;
}
.Equipment {
    position: absolute;
    height: 22px;
    width: 90px;
    left: 739px;
    top: 2px;
    bottom: 1px;
    color: #FFFFFF;
}
.About_us {
    position: absolute;
    height: 22px;
    width: 75px;
    left: 869px;
    top: 2px;
    bottom: 1px;
    color: #FFFFFF;
}
.Blog {
    position: absolute;
    height: 22px;
    width: 38px;
    left: 984px;
    top: 2px;
    bottom: 1px;
    color: #FFFFFF;
}
.header-right{
    display: flex;
    flex-direction: row;
}
.Account {
    position: absolute;
    height: 24px;
    width: 98px;
    left: 1662px;
    top: 1px;
    bottom: 1px;
    color: #FFFFFF;
}
.btn{
    display: none;
}
.burger-menu{
    display: none;
}
#menu_toogle {
    display: none;
}
.icons-general-cart {
}
.iconactionaccount-circle-24-px {
}
.account-1 {
}
.Site-cover{
    position: relative;
    height: 1200px;
    width: 1920px;
}
.Second-nav {
    position: absolute;
    height: 310px;
    max-width: 1760px;
    left: 80px;
    top: 287px;
    z-index: 50;
}

.Social-links {
    position: absolute;
    height: 173px;
    width: 24px;
    left: 0px;
    top: 72px;
    background-color: rgb(25, 98, 98);
}
.Follow_us {
}
.instagram {
}
.twitter {
}

.Content-hero {
    position: absolute;
    height: 310px;
    width: 950px;
    left: 420px;
    top: 0px;
}
.Group17 {
}
.Rectangle2_1 {
    position: absolute;
    height: 2px;
    width: 72px;
    left: 0px;
    top: 10px;
    background-color: #FBD784;
}
.A_Hiking_guide {
    position: absolute;
    height: 22px;
    width: 212px;
    left: 104px;
    top: 0px;
    color: #FBD784;
    font-size: 18px;
    letter-spacing: 6px;
    line-height: auto;
    font-family: 'Gilroy';
}
.Be_prepared {
}
.Group7 {
}

.Nav-slider {
    position: absolute;
    height: 240px;
    width: 77px;
    left: 1683px;
    top: 39px;
    background-color: aqua;
}
.nav-slider-links {
}
.nav-slider-lines {
}
main {
    width: 100%;
    top: 0%;
    position: absolute;
}
.Container2_main {
    position: absolute;
    height: 3040px;
    width: 1462px;
    left: 229px;
    top: 1440px;
    background-color: aqua;
}


/* Content section */


.Content-section{
    max-width: 1492px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}
.Content-block {
    display: flex;
    justify-content: space-between;
}
.Content-text{
    padding-top: 141px;
    padding-left: 150px;
    max-width: 782px;
}
.Content-subtitle{
    font-family: 'Gilroy_extrabold';
    margin-bottom: 32px;
    position: relative;
    padding-left: 96px;
    /*font-weight: 800; */
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}
.Content-subtitle::before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content:'';
    width: 72px;
    height: 2px;
    background-color: #FBD784;

}
.Content-title{
    font-family: 'Chronicle_semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;
    color: #FFFFFF;
    max-width: 555px;
    margin-bottom: 27px;
}
.Content-text p {
    font-family: 'Gilroy_bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    text-align: left;
    color: #FFFFFF;

}
.content-read-more{
    display: inline-block;
    position: relative;
    padding-right: 32px;
    font-family: 'Gilroy_bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: #FBD784;
}
.content-read-more::after{
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 16px;
    background-image: url(../vectors/arrow_downward_24px.svg);
    width: 16px;

}
.Content02 {
}
.Content03 {
}

footer {
}
@font-face {
    font-family: 'Gilroy_bold';
    src: url('../fonts/gilroy-bold.ttf');
}
@font-face {
    font-family: 'Gilroy_extrabold';
    src: url('../fonts/gilroy-extrabold.ttf');
}
@font-face {
    font-family: 'Gilroy_medium';
    src: url('../fonts/gilroy-medium.ttf');
}
@font-face {
    font-family: 'Chronicle_bold';
    src: url('../fonts/Chronicle\ Display\ Bold.otf');
}
@font-face {
    font-family: 'Chronicle_semibold';
    src: url('../fonts/Chronicle\ Display\ Semibold.otf');
}